<p>
  <h3>
    <%= collection.name %>
    <%= link_to 'Edit', edit_collection_path(collection) %> |
    <%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %>
  </h3>
  <%= render collection.monuments %>
  <%= link_to 'New Monument', new_collection_monument_path(collection, collection.monuments.build) %>
</p>


